@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
}

html {
    background-color: #160202;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bcg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media(min-width: 798px) {
        background-size: auto;
    }
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000ac;
}

h1 {
    position: absolute;
    top: 10%;
    text-transform: uppercase;
    color: #d13a3a;
    font-family: "Permanent Marker", cursive;
    font-size: 26px;
    text-shadow: 2px 5px black;
    z-index: 99;

    @media(min-width: 798px) {
        font-size: 48px;
    }

    @media(min-width: 978px) {
        font-size: 58px;
        margin-top: 40px;
    }
}

.menu {
    margin-top: 30px;
    width: 200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    z-index: 99;

    @media(min-width: 798px) {
        width: 250px;
        margin-top: 0;
    }

    @media(min-width: 978px) {
        width: 300px;
        margin-top: 0;
    }

    .play {
        background-color: #ed0505ae;
        background: linear-gradient(90deg,#ed0505ae, #632c2cae);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(255, 21, 0);
            background: linear-gradient(90deg,#ff0000cf, #5e1f1fcd);
            cursor: pointer;
        }

        p {
            padding: 14px;
            color: #fff;

            @media(min-width: 798px) {
                padding: 29px 14px;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    z-index: 99;
}


// Music

#audioPlayer {
    margin: 10px;
    position: absolute;
    top: 10px;
    // background-color: #d13a3ac6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: transparent;
    border: none;
    margin: 5px;
    cursor: pointer;
  }

  i {
    font-size: 20px;
    background-color: transparent;
    color: #0e0707;
  }

  input {
    color: #000;
    background-color: #000;
  }
  
//   #audioPlayer button, #audioPlayer input {
//     margin: 5px;
//   }


// Game style

